<header>
	<h1>{{screamIt welcomeMessage}}</h1> <!-- arguments passed using spaces -->
	<p><a href="/">Home</a></p>
	<p><a href="/about">About</a></p>
	<p><a href="/project">Projects</a></p>
</header>

